
.exercisesHeader {
    padding-bottom: 0;
}


.contains {
    display: grid;
    width: 60%;
    margin:0 auto;
    align-items: stretch;
    flex: 1;
    box-shadow: 10px 10px 10px black,
    -4px -4px 4px rgba(0, 0, 0, 0.18),  /* faint top-left */
    -4px  0   4px rgba(0, 0, 0, 0.12),  /* faint left */
    0   -4px 4px rgba(0, 0, 0, 0.12);  /* faint top */


    text-shadow:0 2px 20px saddlebrown;
}


@container (max-width: 720px) {
    .contains {
        display: grid;
        width: 90%;
        margin:0 auto;
        align-items: stretch;
        flex: 1;
    }    }

.fourGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.threeGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.OneGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.section {
    background-color: black;
    color: #888;
    border: 1px solid #888;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutSection {
    height: 7em;
}

.blogsSection {
    height: 11em;
}

.projectsSection {
    height: 8em;
}

.exercisesTop {
    border-bottom: 0;
}

.exercisesMiddle {
    border-top: 0;
    border-bottom: 0;
}

.exercisesBottom {
    border-top: 0;
}

.centerBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#weather
{
    background-color:black;
    color:white;
}

#city
{
    background-color:black;
    color:white;
}
