
.exercisesHeader {
    padding-bottom: 0;
}


.contains {
    display: grid;
    width: 60%;
    margin:0 auto;
    align-items: stretch;
    flex: 1;
    box-shadow: 10px 10px 10px black;
    text-shadow:0 2px 20px saddlebrown;
}


@container (max-width: 600px) {
    .contains {
        display: grid;
        width: 80%;
        margin:0 auto;
        align-items: stretch;
        flex: 1;
    }    }

.fourGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.threeGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.OneGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.section {
    background-color: black;
    color: #888;
    border: 1px solid #888;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutSection {
    height: 7em;
}

.blogsSection {
    height: 11em;
}

.projectsSection {
    height: 8em;
}

.exercisesTop {
    border-bottom: 0;
}

.exercisesMiddle {
    border-top: 0;
    border-bottom: 0;
}

.exercisesBottom {
    border-top: 0;
}

.centerBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}