
.exerciseHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: #888;
    border: solid 1px;
    flex-wrap: wrap;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px black;
    margin-bottom:32px;
}

.article {
    background-image: url('../wood2.avif');

    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 10px black;
    margin: 0 auto;
    width: 65%;
    max-width: 1600px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:32px;
    padding-top:32px;
}

body {
    container-type: inline-size;
    min-width: 600px;
}


.container {
    color: #888;
    display: grid;
    align-items: stretch;
    justify-items: center;
    flex: 1;
    margin: 0 auto;
    width: min(100%, 1500px);
    gap:20px;
}

.eightGrid {
    grid-template-columns: repeat(2, minmax(320px, max-content));
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    row-gap: 32px;
    column-gap: 32px;
}

.questionBox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 300px;
    padding-bottom: 20px;
    margin: 0;

    border: 1px solid silver;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px black;
    background-color: black;
}

.oneBox {
    grid-row: 1;
    grid-column: 1;
}

.twoBox {
    grid-row: 1;
    grid-column: 2;
}

.threeBox {
    grid-row: 2;
    grid-column: 1;
}

.fourBox {
    grid-row: 2;
    grid-column: 2;
}

.fiveBox {
    grid-row: 3;
    grid-column: 1;
}

.sixBox {
    grid-row: 3;
    grid-column: 2;
}

.sevenBox {
    grid-row: 4;
    grid-column: 1;
}

.eightBox {
    grid-row: 4;
    grid-column: 2;
}


@media (max-width: 800px) {
    .eightGrid {
        grid-template-columns: 1fr; /* one column */
        grid-template-rows: repeat(8, 1fr);
    }

    .container {
        width: 80%;
    }

    .article {
        width: 80%;
        min-width: 480px;
    }

    /* Reset grid positioning to allow auto-placement */
    .oneBox, .twoBox, .threeBox, .fourBox,
    .fiveBox, .sixBox, .sevenBox, .eightBox {
        grid-row: auto;
        grid-column: auto;
    }


}

