body {
    background-color: saddlebrown;
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.centerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: #888;
    border: solid 1px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.exercisesHeader {
    padding-bottom: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    opacity: 0.5;
}

.centerCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.container {
    background-color: black;
    color: #888;
    border: 1px solid #888;
    padding-bottom: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.contains {
    display: grid;
    width: 60%;
    height: 28rem;
    margin-left: 20%;
    margin-right: 20%;
    align-items: stretch;
    flex: 1;
}

.fourGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.threeGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.OneGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.section {
    background-color: black;
    color: #888;
    border: 1px solid #888;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.aboutSection {
    height: 7em;
}

.blogsSection {
    height: 11em;
}

.projectsSection {
    height: 8em;
}

.exercisesTop {
    border-bottom: 0;
}

.exercisesMiddle {
    border-top: 0;
    border-bottom: 0;
}

.exercisesBottom {
    border-top: 0;
}


.questionBox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 267px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 70px;
}

.centerBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    border: solid 1px;
}


li {
    float: left;
}

li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
    color: white;
    width: 100px;
    height: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: dodgerblue;
    white-space: nowrap;
}

i {
    white-space: nowrap;
}

button {
    background-color: green;
    color: white;
    height: 3em;
    width: 76px;
    border-radius: 5px;
    -webkit-user-select: none; /* Safari, Chrome, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */

    margin-bottom: 0;
}

.labelText {
    padding-left: 5px;
}

textarea {
    resize: none;
}

.selected {
    background-color: tan;
    color: black;
}

html {
    scrollbar-gutter: stable both-edges;
}


button:active {
    position: relative;
    top: 2px; /* Moves text down by 1px */
    left: 2px; /* Moves text right by 1px */
}

/* For phones */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    nav ul {
        flex-direction: column;
    }
}

/* For tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

/* For desktops */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }
}

sup {
    font-size: 12px;
}


h3 {
    color: white;
}

h1 {
    color: white;
}

main {
    flex: 1;
}

