body {
    background-color: saddlebrown;
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    opacity: 0.5;
}

.centerCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    border: solid 1px;
    box-shadow: 10px 10px 10px black,
    -4px -4px 4px rgba(0, 0, 0, 0.18),  /* faint top-left */
    -4px  0   4px rgba(0, 0, 0, 0.12),  /* faint left */
    0   -4px 4px rgba(0, 0, 0, 0.12);  /* faint top */

}


li {
    float: left;
}

li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
    color: white;
    width: 100px;
    height: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: dodgerblue;
    white-space: nowrap;
}

i {
    white-space: nowrap;
}

button {
    background-color: green;
    color: white;
    height: 3em;
    width: 76px;
    border-radius: 5px;
    -webkit-user-select: none; /* Safari, Chrome, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */

    margin-bottom: 0;
}

.labelText {
    padding-left: 5px;
}

textarea {
    resize: none;
}

.selected {
    background-color: tan;
    color: black;
}

html {
    scrollbar-gutter: stable both-edges;
}


button:active {
    position: relative;
    top: 2px; /* Moves text down by 1px */
    left: 2px; /* Moves text right by 1px */
}

/* For phones */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    nav ul {
        flex-direction: column;
    }
}

/* For tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

/* For desktops */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }
}

sup {
    font-size: 12px;
}


h3 {
    color: white;
}

h1 {
    color: white;
    text-shadow: 5px 5px 5px black;
}

main {
    flex: 1;
}
